.lightbox__close {
  height: 40px;
  width: 40px;
  position: absolute;
  right: -50px;
  top: -40px;
  background-color: transparent;
  background-image: url(../../../img/close.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border-style: none;
  padding: 0;
}

.lightbox__close:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 540px) {
  .lightbox__close {
    width: 26px;
    height: 26px;
    right: -1px;
    top: -52px;
  }
}
