.modal__inset {
  position: relative;
  padding: 60px;
  background-color: white;
  min-width: 320px;
  min-height: 126px;
  margin: auto;
  visibility: hidden;
}

.modal-inset .close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  opacity: 0.4;
}

.modal-inset .close:hover {
  opacity: 1;
}
