.modal__window {
    position: fixed;
    top: 180px;
    left: calc(50% - 190px);
    max-width: 430px;
    max-height: 330px;
    background-color: white;
    border-radius: 2.5%;
    margin: auto;
    padding: 1px;
}


@media screen and (min-width: 576px) and (max-width: 899px) {
    .modal__window {
        top: calc(50% - 200px);
        left: calc(50% - 230px);
        max-width: 430px;
        margin: auto;
    }
}

@media screen and (min-width: 50px) and (max-width: 575px) {
    .modal__window {
        top: 10%;
        max-width: 290px;
        margin: 10vw;
    }
}