@import url(./_has-error/modal__input_has-error.css);

.modal__input {
  border: none, none, rgba(0, 0, 0, 0.2), none;
  color: #000;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 0px;
  outline-color: rgba(85, 0, 85, 0.5);
  padding-bottom: 5px;
  width: 100%;
}
.modal__input:focus {
  outline: none;
}
