.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  visibility: hidden;
}

.modal_active {
  visibility: visible;
}

.modal-frame.state-leave {
  visibility: visible;
}
